<form (ngSubmit)="submitSearch()">
  <input type="text" placeholder="Search" name="term" [(ngModel)]="term">
  <button type="submit">Search</button>
</form>

<div *ngIf="!results">
  <p>Search for something!</p>
</div>
<div *ngIf="results?.resultCount == 0">
  <p>Couldn't find results</p>
</div>
<div *ngIf="results?.resultCount > 0">
  <div *ngFor="let res of results.results">
    <a [routerLink]="['/podcast']" [queryParams]="{ url: res.feedUrl}">{{ res.trackName }} - {{ res.artistName }}</a>
  </div>
</div>